<?doctype html>
<html>
  <head>
    <title>RevertUI Queue</title>
    <meta charset="utf-8">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}
    <div>
      Reverting changesets: {{ job.changesets }}<br>
      Comment: {{ job.comment }}<br>
      User: {{ job.username }}<br>
      Added: {{ job.timestamp.strftime('%d.%m.%Y') }}<br>
      <br>
      Status: {{ job.status }}<br>
      {% if job.error %}
      Error: {{ job.error }}<br>
      {% endif %}
    </div>
    {% if job.pending %}
    <p><a href="{{ url_for('cancel_task', revid=job.id) }}">Cancel job</a></p>
    {% endif %}
    <p><a href="{{ url_for('queue') }}">To queue</a></p>
  </body>
</html>
