{% extends 'layout.html' %}
{% block title %}Job {{ job.id }}{% endblock %}
{% block content %}
  <div id="changesets">
  </div>
  <div>
    Reverting changesets:
    {% for ch in changesets %}
    <a href="https://www.openstreetmap.org/changeset/{{ ch }}">{{ ch }}</a>
    {% endfor %}<br>
    Comment: {{ job.comment }}<br>
    User: {{ job.username }}<br>
    Added: {{ job.timestamp.strftime('%d.%m.%Y') }}<br>
    <br>
    Status: {{ job.status }}<br>
    {% if job.status == 'done' %}
    Changeset: <a href="https://www.openstreetmap.org/changeset/{{ job.error }}">{{ job.error }}</a><br>
    {% elif job.error %}
    Error: {{ job.error }}<br>
    {% endif %}
  </div>
  {% if can_cancel %}
  <p><a href="{{ url_for('cancel_task', revid=job.id) }}">Cancel job</a></p>
  {% endif %}
  <p><a href="{{ url_for('queue') }}">To queue</a></p>
{% endblock %}
