{% extends 'layout.html' %}
{% block title %}Queue{% endblock %}
{% block content %}
  <p><a href="/">Revert more</a></p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="flash">{{ messages[0] }}</div>
  {% endif %}
  {% endwith %}

  {% macro joblist(name, jobs) -%}
  {% if jobs %}
    <h2>{{ name }}</h2>
    {% for job in jobs %}
      <div>
      <a href="{{ url_for('show', revid=job.id) }}">Job {{ job.id }}</a>
      by {{ job.username}}, {{ job.status }}:
      {% set chs = job.changeset_ids() | length %}
      {% if chs <= 3 %}
      {{ job.changesets }}
      {% else %}
      {{ chs }} changeset{% if chs > 1 %}s{% endif %}
      {% endif %}
      </div>
    {% endfor %}
  {% endif %}
  {%- endmacro %}

  {{ joblist('Pending', pending) }}
  {{ joblist('Done', done) }}
{% endblock %}
